@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BrokeA**Reddit</h1>
    <p><a href="https://localhost:7028/Home/ShowPost">Check Out this Sub Reddit.</a></p>
</div>
